.nav {
  background: var(--color-linear-gradient-dark);
  color: white;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--secondary-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  text-decoration: none;
}

.logoContainer img {
  width: 40px;
  height: 40px;
}

.logoText {
  font-size: 2rem;
  font-family: var(--font-family-cormorant);
  font-weight: var(--font-weight-bold);
  color: var(--color-foreground-primary-light);
  line-height: 1;
  text-align: center;
  display: flex;
  column-gap: 0.5rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.addButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoText span,
.addButton span {
  display: block;
}

.buttonIcon {
  width: 1rem;
  height: 1rem;
}

@media (max-width: 768px) {
  .container {
    gap: 1rem;
  }

  .logoText {
    text-align: left;
  }

  .menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-small);
  }

  .logoText span,
  .addButton span {
    display: none;
  }
}
