.footer {
  margin-top: 6rem;
  text-align: center;
  margin-bottom: 6rem;
}

.footerLine {
  width: 12rem;
  height: 4px;
  background: var(--color-decorative-line-primary);
  margin: 0 auto 1rem;
}

.footerText {
  color: var(--primary-color);
  font-style: italic;
  margin: 0;
}
