.footer {
  margin-top: 6rem;
  text-align: center;
  margin-bottom: 2rem;
}

.footerLine {
  width: 12rem;
  height: 4px;
  background: linear-gradient(to right, transparent, #7c021d, transparent);
  margin: 0 auto 1rem;
}

.footerText {
  color: var(--color-primary);
  font-style: italic;
  margin: 0;
}
