.featuredSection {
  padding-block-start: 2rem;
  padding-block-end: 6rem;
}

.sectionTitle {
  margin-bottom: 1.5rem;
  text-align: center;
}

.decorativeLine {
  width: 8rem;
  height: 4px;
  background: linear-gradient(
    to right,
    transparent,
    var(--primary-color),
    transparent
  );
  margin: 0 auto 0.5rem;
  margin-bottom: 2rem;
}

.recipeGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .featuredSection {
    padding-block-end: 8rem;
  }

  .recipeGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .recipeGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
